body {
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(102, 101, 101);
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.fa, .fas {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: white;
}

.search {
    padding-right: 30px;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    border-style: none;
}

.btn,
.buy {
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    background-image: url('https://cdn.pixabay.com/photo/2014/10/04/15/07/sunset-473604_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-style: none;
    width: 70px;
    height: 50px;
    border-style: none;
    color: Black;
}

button .buy {
    padding-top: 30px;
    padding-bottom: 30px;
}

.buy:hover,
.btn:hover {
    background-image: url('https://cdn.pixabay.com/photo/2016/07/19/04/40/moon-1527501_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: black;
    text-decoration: none;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    max-width: 100%;
}

.post:hover {
    background-color: whitesmoke;
}

.post p {
    text-align: justify;
    max-width: 100%;
    color: black;
}

.post h1 {
    color: rgb(102, 101, 101);
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
}

img {
    width: 200px;
    height: 300px;
}

.rank {
    font-weight: bold;
    background-color: black;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: yellow;
}

.number {
    padding-top: 4px;
}

.first {
    padding-left: 50px;
}

.second {
    padding-left: 50px;
    padding-right: 50px;
}
